@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.btn {
    font-size: 16px;
    border-radius: 160px;
}

.btn-outline-light {
    border: 2px solid #fff;
    color: #fff;
    margin-right: 20px;
}

.btn.btn-primary {
    background-image: linear-gradient(to left, #d1335b, #ff635d);
    box-shadow: 0 2px 24px rgb(0 0 0 / 20%);
}

.btn.btn-outline-light,
.btn.btn-primary {
    padding: 12px 24px;
}

.btn:hover {
    cursor: pointer;
}

.small-span {
    font-size: 12px;
}

.site-header {
    background: linear-gradient(
        90deg,
        rgba(251, 95, 93, 1) 0%,
        rgba(211, 53, 92, 1) 100%
    );
    padding: 20px 40px;
}

.site-header-navigation {
    display: flex;
    justify-content: space-between;
}

.site-header-navigation-logo-and-description {
    display: flex;
    align-items: center;
}

/* .site-header-navigation-logo-and-description > span {
    align-self: center;
} */

.site-header-navigation-image-wrapper {
    max-width: 48px;
    margin-right: 10px;
}

.site-header-navigation-image-wrapper img {
    width: 100%;
}

.site-header-navigation-description {
    display: flex;
    flex-flow: column nowrap;
}

.site-header-navigation-content-list {
    display: flex;
    align-items: center;
}

.site-header-navigation-content-list-item {
    list-style: none;
    padding: 8px 16px;
}

.site-header-navigation-content-list-item > a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.site-header-navigation-content-list-item:not(.btn, :first-child) > a {
    color: #c4bcbc;
}

.site-header-navigation-content-list-item > a:hover,
.site-header-navigation-content-list-item:first-child a,
.site-header-navigation-logo-and-description {
    color: #fff;
}
